
body{
    max-width: 1340px;
    margin: 0 auto;
}
h2{
    text-transform: uppercase;
    font-size: 30px;
    margin: 30px 0 0;
}
p{
    margin: 40px 0 0;
}
span{
    text-decoration:underline;
    font-weight: bold;
}
.container{
    display: flex;
    background-color: lightblue;
}
.container > div{
    text-align: center;
}
.item{
    padding: 20px 30px;
    background-color: lightpink;
    border: 2px solid lightblue;
    border-radius: 5px;
    font-size: 19px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
.flex-direction__row{
    flex-direction: row;
}
.flex-direction__row-reverse{
    flex-direction: row-reverse;
}
.flex-direction__column{
    flex-direction: column;
}
.flex-direction__column-reverse{
    flex-direction: column-reverse;
}
.flex-wrap__nowrap{
    flex-wrap: nowrap;
    overflow: hidden;
}
.flex-wrap__nowrap > div{
    flex: 0 0 35%;
    flex-shrink: 0;
}
.flex-wrap__wrap{
    flex-wrap: wrap;
}
.flex-wrap__wrap > div{
    flex: 0 0 45.25%;
}
.flex-wrap__wrap-reverse{
    flex-wrap: wrap-reverse;
}
.flex-wrap__wrap-reverse > div{
    flex: 0 0 45.25%;
}
.justify-content__flex-start{
    justify-content: flex-start;
}
.justify-content__flex-end{
    justify-content: flex-end;
}
.justify-content__center{
    justify-content: center;
}
.justify-content__space-around{
    justify-content: space-around;
}
.justify-content__space-between{
    justify-content: space-between;
}
.justify-content__space-evenly{
    justify-content: space-evenly;
}

.container__inner{
    display: flex;
    background-color: lightblue;
    height: 120px;
    flex-wrap: wrap;
    text-align: center;
}
.container__content{
    display: flex;
    background-color: lightblue;
    height: 300px;
    flex-wrap: wrap;
}
.container__content > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-items__normal{
    align-items: normal;
}

.align-items__flex-start{
    align-items: flex-start;
}
.align-items__flex-end{
    align-items: flex-end;
}
.align-items__center{
    align-items: center;
}
 

.align-items__baseline {
    align-items: baseline;
}

.align-items__baseline > div:nth-child(1) { 
    font-size: 16px;
    height: 50px;
}

.align-items__baseline > div:nth-child(2) {
    font-size: 30px;
    height: 40px;
}

.align-items__baseline > div:nth-child(3) {
    font-size: 22px;
    height: 55px;
}

.align-items__stretch{
    align-items: stretch;
}
.align-content__flex-start{
    align-content: flex-start;
    gap: 10px;
}
.container__content > div{
    flex: 0 0 44.88%;
}
.align-content__flex-end{
    align-content: flex-end;
    gap: 10px;
}
.align-content__center{
    align-content: center;
    gap: 10px;
}
.align-content__space-around{
    align-content: space-around;
    gap: 10px;
}
.align-content__space-between{
    align-content: space-between;
    gap: 10px;
}
.align-content__space-evenly{
    align-content: space-evenly;
    gap: 10px;
}
.align-content__stretch{
    align-content: stretch;
    gap: 10px;

}




